
<div class="item">
	<div class="itemPic">
		<img ng-src="{{outfit.img}}">
	</div>

	<div class="itemDesc">
		<ul>
			<li class="itemDescBrand">{{ outfit.brand }}</li>
			<li class="itemDescName">{{ outfit.name }}</li>
			<li class="itemDescPrice">${{ outfit.price }}/day</li>
			<li class="itemDescSize">size: {{ outfit.size }}{{ outfit.fit }}</li>
			<h4>Description</h4>
			<li class="itemDescDesc">{{ outfit.desc }}</li>
		</ul>

		<div class="itemDescButton">
			<a href="#/rent/{{ outfit.id }}"><button type="button">Rent</button></a>
		</div>
	</div>


</div>