
<div class="item">
	<div class="itemPic">
		<img ng-src="{{outfit.img}}">
	</div>

	<div class="itemDesc">
		<ul>
			<li class="itemDescBrand">{{ outfit.brand }}</li>
			<li class="itemDescName">{{ outfit.name }}</li>
			<li class="itemDescPrice">${{ outfit.price }}/day</li>
			<li class="itemDescSize">size: {{ outfit.size }}{{ outfit.fit }}</li>
			<li class="itemCalendar">
				<h4>Book Your Outfit</h4>
				<table>
					<tr>
						<td>&nbsp&nbsp</td>
						<td>&nbsp1&nbsp</td>
						<td>&nbsp2&nbsp</td>
						<td>&nbsp3&nbsp</td>
						<td>4</td>
						<td>5</td>
					</tr>
					<tr>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>12</td>
						<td>13</td>
						<td>14</td>
						<td>15</td>
						<td>16</td>
						<td>17</td>
					</tr>
					<tr>
						<td>18</td>
						<td>19</td>
						<td>20</td>
						<td>21</td>
						<td>22</td>
						<td>23</td>
					</tr>
					<tr>
						<td>24</td>
						<td>25</td>
						<td>26</td>
						<td>27</td>
						<td>28</td>
						<td>29</td>
					</tr>
					<tr>
						<td>30</td>
						<td>31</td>
					</tr>
				</table>
			</li>
			<h4>Delivery Option</h4>
			<li class="itemDescDelivery">
				<select ng-model="deliveryOption">
					<option value="1">1 Day Express</option>
					<option value="2">2 Day Shipping</option>
					<option value="3">Priority Shipping (3 days)</option>
					<option value="4">Standard Shipping (5-7 days)</option>
				</select>
			</li>
			<h4>Description</h4>
			<li class="itemDescDesc">{{ outfit.desc }}</li>
		</ul>

		<div class="itemDescButton">
			<a href="#/rent/{{ outfit.id }}"><button type="button">Rent</button></a>
		</div>
	</div>


</div>